In [ ]:
#Object Oriented Programmings, OOPs
'''1. Abstraction
   2. Encapsulation
   3.Polymorphism
   4. Inheritance '''
#class
#Object

'1. Abstraction\n   2. Encapsulation\n   3.Polymorphism\n   4. Inheritance '

In [ ]:

 #Class creation & defination
class Car:
  height = 10

Bugatti = Car() #object creation
RR = Car()

print(Bugatti.height) #calling of value in the class through object
print(RR.height)

10
10

In [ ]:
class Student:
  def __init__(self, name, reg):
    self.name = name
    self.reg = reg

s1 = Student("Durgesh", 12217049)
print(s1.name)
print(s1.reg)

Durgesh
12217049

In [ ]:
class Student:
  def __init__(self, name, reg,):
    self.name = name
    self.reg = reg

  def pr(self):
    print("Hello my name is "+self.name)

s1 = Student("Durgesh", 12217049)
s1.pr()

Hello my name is Durgesh

In [ ]:
#inheritance 
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def display(self):
    print(self.name, self.age)


class Employee(Person):
  pass 


a = Employee("Durgesh", 18)
a.display()

Durgesh 18

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def display(self):
    print(self.name, self.age)

class Employee(Person):
  def __init__(self, name, age):
    Person.__init__(self, name, age)

a = Employee("Durgesh", 18)
a.display()

Durgesh 18

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def display(self):
    print(self.name, self.age)

class Employee(Person):
  def __init__(self, name, age, year):
    super().__init__(name, age)
    self.year = year

  def welcome(self):
    print("Welcome",self.name,"You are",self.age,"years old,","Your birth year is",self.year)

a= Employee("Durgesh Kanjariya,", 18, 2014)
a.welcome()

Welcome Durgesh Kanjariya, You are 18 years old, Your birth year is 2014

In [ ]:
class Animal:
  def speak(self):
    print("Animal is speaking")

class Dog(Animal):
  def bark(self):
    print("Dog Barking")

class Puppy(Dog):
  def eat(self):
    print("Puppy is eating bread")

a = Puppy()
a.speak()
a.bark()
a.eat()

Animal is speaking
Dog Barking
Puppy is eating bread

In [ ]:
class Calc1:
  def add(self, a,b):
    return a + b

class Calc2:
  def multi(self, a,b):
    return a*b

class Calc3(Calc1, Calc2):
  def div(self, a,b):
    return a/b

a = Calc3()
print(a.add(10,20))
print(a.multi(4,3))
print(a.div(10,5))

30
12
2.0